@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {padding: 0;margin: 0;}
a{text-decoration:none;}
table {border-spacing: 0;}
fieldset,img {border: 0;}

ol,ul {list-style: none;margin:0;padding:0;}

/*h1,h2,h3,h4,h5,h6 {font-weight: normal;font-size: 100%;margin:0;padding:0;color:#444;}*/


/* Defining each section background and styles
* --------------------------------------- */
#section0{
	background: -webkit-gradient(linear, top left, bottom left, from(#A9B2B7), to(#54646D));
	background: -webkit-linear-gradient(#A9B2B7, #54646D);
	background: linear-gradient(#A9B2B7,#54646D);
}
#section2{
	background: -webkit-gradient(linear, top left, bottom left, from(#A9B2B7), to(#54646D));
	background: -webkit-linear-gradient(#A9B2B7, #54646D);
	background: linear-gradient(#A9B2B7,#54646D);
}
#section3{
	background: -webkit-gradient(linear, top left, bottom left, from(#A9B2B7), to(#54646D));
	background: -webkit-linear-gradient(#A9B2B7, #54646D);
	background: linear-gradient(#A9B2B7,#54646D);
}
#section4{
	background: -webkit-gradient(linear, top left, bottom left, from(#A9B2B7), to(#54646D));
	background: -webkit-linear-gradient(#A9B2B7, #54646D);
	background: linear-gradient(#A9B2B7,#54646D);
}
/*Adding background for the slides
* --------------------------------------- */
#slide1{
	background: -webkit-gradient(linear, top left, bottom left, from(#A9B2B7), to(#54646D));
	background: -webkit-linear-gradient(#A9B2B7, #54646D);
	background: linear-gradient(#A9B2B7,#54646D);
}
#slide2{	
	background: #99CA3B;	
	background-image: url(../img/aboutavatar.png);	
}
#slide3{
	background: #000000;
}
#slide4{
	background: #ffffff;
	background: #ffffff;
	background: #ffffff;
}
#slide5{
	background: -webkit-gradient(linear, top left, bottom left, from(#92a1ca), to(#76c2bd));
	background: -webkit-linear-gradient(#92a1ca, #76c2bd);
	background: linear-gradient(#92a1ca,#76c2bd);
}

/* Custom CSS
 * --------------------------------------- */
body{font-family: arial,helvetica;color: #333;color: rgba(0,0,0,0.5);}

.intro p{width: 50%;margin: 0 auto;font-size: 1em;}
.section{text-align:center;}


/* Style for HOME
	* --------------------------------------- */
	.hometitle img{position: absolute; left:5px; top:5px;/*border-style: solid;*//*border-width: 1px;*//*padding: 5px;*//*display: inline-block;*/}
	.homeavatar img{position: absolute; right:0px; bottom:0px;}
	.homelogo {float: left;width: 30%;position: inherit;}
/*	.logopart img{display: inline-block;}*/

/* Style for ABOUT US
	* --------------------------------------- */
/*	.aboutforth img{position: absolute;left: 0px;bottom: 0px;}*/
	.container-fluid {padding:0px;}
	/*.aboutpara p {overflow-y: auto;}*/
	.aboutpics ul li { display: inline; }
	.amiddle {display: flex;display: -webkit-flex;width: 80%;margin: 0 auto;overflow: auto;clear: both;}
/*2015*/
/*#wrapper {width: 100%;float: left;overflow: hidden;}*/
/*2014*/
/*2013*/
/*2012*/

/* Style for COURSE
	* --------------------------------------- */

/* Style for PHOTO GALLERY
	* --------------------------------------- */

/* Style for CONTACT US
	* --------------------------------------- */
	.contactus {background-color: transparent;border: none;border-radius: 0;-webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);box-shadow: inset 0 0 0 rgba(0,0,0,0);}
	.contactus button {width: 100%; padding: 0; margin: 1px;}
	.gmap {height: 300px;}
	.footerL {height: 5%;}
	#contactForm{
	    margin-top:30px;
	}
	input[type="submit"]{color:#fff !important;}

	/* Forms
	=====================*/
	textarea {
	    resize: vertical;
	    width:100%;
	}
	.form-control {
	    height: 46px;
	    border-radius:0;
	    padding: 12px;
	    margin-bottom: 10px;
	}
	.form-control:focus,#site-searchform #s:focus
	{
	    border-color: #E74C3C;
	    box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(231, 76, 60, 0.6);
	    outline:none;
	}

	label.error {
	    color: #ebedef;
	    font-size: 13.006px;
	    line-height: 18.004px;
	    font-weight: normal;
	    margin-right: 4px;
	    text-shadow: none;
	    text-decoration: none;
	}
	label.error {
	    color: #e74c3c;
	}
	label{
	    margin-bottom:10px;
	}

	/* MAPS
	====================== */
	.contact{ padding:50px 0; }

	.maps{ position:relative; }

	#page_maps{
	    max-height:380px;
	    height:360px;
	}
	.widget_info_contact{padding:0;margin-top:20px;}
	.widget_info_contact li{list-style:none;}
	.widget_info_contact li p strong { color:#666; float: left; margin: 0 5px 5px 0;font-size: 12px;width:20%;}
	.widget_info_contact li {
	    margin: 0 0 5px 0;
	}
	.widget_info_contact p {
	    margin: 0 0 0 20px;
	    line-height: 18px;
	    overflow:hidden;
	}
	.widget_info_contact p a {
	    color: #666;
	    font-weight: 600;
	    font-size: 12.5px;
	}
	.widget_info_contact p a:hover {
	    color: #919191;
	}
	.widget_info_contact li i {
	    float: left;
	    margin: 1px 0 0 0;
	}


/* Style for our header texts
	* --------------------------------------- */
/*	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		text-align: center;
	}*/
	.intro p{color: #fff;}

	/* Centered texts in each section
	* --------------------------------------- */
	.section p{text-align:justify;}

	/* Overwriting styles for control arrows for slides
	* --------------------------------------- */
/*	.controlArrow.prev {left: 50px;}
	.controlArrow.next{right: 50px;}*/


	/* Bottom menu
	* --------------------------------------- */






/* Reset CSS
 * --------------------------------------- */

/*address,caption,cite,code,dfn,em,strong,th,var {font-weight: normal;font-style: normal;}*/
/*strong{font-weight: bold;}*/

/*caption,th {text-align: left;}*/

/*q:before,q:after {content:'';}*/
/*abbr,acronym {border: 0;}*/

	/* Custom CSS
 * --------------------------------------- */
 /*#menu li {display:inline-block;margin: 10px;color: #000;background:#fff;background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;border-radius: 10px;}
#menu li.active{background:#666;background: rgba(0,0,0, 0.5);color: #fff;}
#menu li a{text-decoration:none;color: #000;}
#menu li.active a:hover{color: #000;}
#menu li:hover{background: rgba(255,255,255, 0.8);}
#menu li a,#menu li.active a{padding: 9px 18px;display:block;}
#menu li.active a{color: #fff;}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}*/
/*.wrap{margin-left: auto;margin-right: auto;width: 960px;position: relative;}*/
/*h1{font-size: 6em;}*/
/*h2{font-size: 5em;}*/
/*p{font-size: 2em;}*/

/*.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}*/
/*#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}*/
/*#download a{
	text-decoration:none;
	color:#fff;
}*/
/*#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}*/
/*#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}*/
/*#infoMenu ul{
	padding: 0 40px;
}*/
/*#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}*/
/*#infoMenu li a:hover{
	text-decoration:underline;
}*/
/*#infoMenu li{
	display:inline-block;
	position:relative;
}*/
/*#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}*/
/*#examplesList ul{
	padding:0;
}*/
/*#examplesList ul li{
	display:block;
	margin: 5px 0;
}*/
/*#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}*/
/*#examplesList ul li a:hover{
	color: #f2f2f2;
}*/
/*#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}*/
/*#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}*/

/* Style for our header texts
	* --------------------------------------- */



	/* Bottom menu
	* --------------------------------------- */
	/*#infoMenu li a {
		color: #fff;
	}*/